<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2 class="page-header">Users</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="2"> No Users Available</td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.getId()}"> Id </span></td>
        <td><span th:text="${user.getFirstName()}"> First Name </span></td>
        <td><span th:text="${user.getLastName()}"> Last Name </span></td>
        <td><span th:text="${user.getEmail()}"> Email </span></td>
        <td><span th:text="${user.getRole()}"> Role </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>